*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --primary-color: darkblue;
  --secondary-color: steelblue;
  --accent-color: orange;
  --text-color: #333;
  --heading-size: 1.5rem;
  --font-stack: Arial, Helvetica, sans-serif;
  --box-shadow: 0 0 30px gray;
}

nav {
  background-color: var(--primary-color);
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: var(--primary-color);
  font-size: var(--heading-size);
}

img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: var(--box-shadow);
}

 
aside p {
  padding: 0; /* p { padding: 0; } */

}

  
main{
    max-width: 840px;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
}


footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

.profile-img {
    width: 200px;
    height: auto;
    border-radius: 8px; /* optional: rounded corners */
}

.aside-img {
    width: 100%;
    height: auto;
    max-width: 300px; /* keeps it from getting too big */
}

/* Class Selectors */

.box{margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;

}
main img {
  /* you most likely will have other CSS declarations here */
  float: right;
}
aside h2 {
  position: absolute;
  top: 47px;
  left: 150px;
}

